RewriteEngine on

RewriteRule ^api/v3/account/api/public/account/displayName/(.*)\.php$ /api/v3/account/api/public/account.php?fullAccountInfo=1&accountId=$1 [L,QSA]
RewriteRule ^api/v3/account/api/public/account/.*/externalAuths\.php$ /api/v3/account/api/public/externalAuths.php [L]
RewriteRule ^api/v3/account/api/public/account/(.*)\.php$ /api/v3/account/api/public/account.php?fullAccountInfo=1&accountId=$1 [L,QSA]
RewriteRule ^api/v3/friends/api/public/friends/(.*)/(.*)\.php$ /api/v3/account/api/public/friends.php?account_id_1=$1&account_id_2=$2 [L,QSA]
RewriteRule ^api/v3/fortnite/api/cloudstorage/(.*)/config\.php$ /api/v3/fortnite/api/cloudstorage/$1/config.php [L,QSA]
RewriteRule ^api/v3/fortnite/api/cloudstorage/system/(.*)\.ini\.php$ /FNConfigs/$1.ini [L,QSA]
RewriteRule ^api/v3/fortnite/api/cloudstorage/user/(.*)/ClientSettings\.Sav.*$ /api/v3/fortnite/api/cloudstorage/user.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/cloudstorage/user/(.*)\.php$ /api/v3/fortnite/api/cloudstorage/user.php?accountId=$1&fileInfo=1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/matchmaking/account/(.*)/session/(.*)\.php$ /api/v3/fortnite/api/game/v2/matchmaking/account/session.php?accountId=$1&sessionId=$2 [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/matchmakingservice/ticket/player/(.*)\.php$ /api/v3/fortnite/api/game/v2/matchmakingservice/ticket/player.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/privacy/account/(.*)\.php$ /api/v3/fortnite/api/game/v2/privacy/account.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/profile/.*/client/ClaimLoginReward.*$ /api/v3/fortnite/api/game/v2/profile/ClaimLoginReward.php [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/profile/(.*)/client/ClientQuestLogin.*$ /api/v3/fortnite/api/game/v2/profile/ClientQuestLogin.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/profile/(.*)/client/EquipBattleRoyaleCustomization\.php$ /api/v3/fortnite/api/game/v2/profile/EquipBattleRoyaleCustomization.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/profile/.*/client/GetMcpTimeForLogin.*$ /api/v3/fortnite/api/game/v2/profile/GetMcpTimeForLogin.php [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/profile/.*/client/IncrementNamedCounterStat\.php$ /api/v3/fortnite/api/game/v2/profile/IncrementNamedCounterStat.php [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/profile/.*/client/MarkNewQuestNotificationSent\.php$ /api/v3/fortnite/api/game/v2/profile/MarkNewQuestNotificationSent.php [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/profile/(.*)/client/RefreshExpeditions\.php$ /api/v3/fortnite/api/game/v2/profile/RefreshExpeditions.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/profile/(.*)/client/SetBattleRoyaleBanner\.php$ /api/v3/fortnite/api/game/v2/profile/SetBattleRoyaleBanner.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/profile/(.*)/client/SetMtxPlatform\.php$ /api/v3/fortnite/api/game/v2/profile/SetMtxPlatform.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/profile/(.*)/client/QueryProfile\.php$ /api/v3/fortnite/api/game/v2/profile/QueryProfile.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/matchmaking/session/.*/join\.php$ /api/v3/fortnite/api/matchmaking/session/join.php [L,QSA]
RewriteRule ^api/v3/fortnite/api/matchmaking/session/findPlayer/.*\.php$ /api/v3/fortnite/api/matchmaking/session/findPlayer.php [L,QSA]
RewriteRule ^api/v3/fortnite/api/matchmaking/session/(.*)\.php$ /api/v3/fortnite/api/matchmaking/session.php?sessionId=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/receipts/v1/account/.*/receipts\.php$ /api/v3/fortnite/api/receipts/v1/account/receipts.php [L,QSA]
RewriteRule ^api/v3/fortnite/api/v2/versioncheck/.*$ /api/v3/fortnite/api/v2/versioncheck.php [L,QSA]
RewriteRule ^api/v3/friends/api/v1/.*/settings\.php$ /api/v3/friends/api/v1/settings.php [L,QSA]
RewriteRule ^api/v3/friends/api/public/list/fortnite/.*/recentPlayers\.php$ /api/v3/friends/api/public/list/fortnite/recentPlayers.php [L,QSA]
RewriteRule ^api/v3/friends/api/public/friends/(.*)\.php$ /api/v3/friends/api/public/friends.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/friends/api/public/blocklist/(.*)/(.*)\.php$ /api/v3/friends/api/public/blocklist.php?accountId=$1&blocking=$2 [L,QSA]
RewriteRule ^api/v3/account/api/oauth/sessions/kill/.*\.php$ /api/v3/account/api/oauth/sessions/kill.php [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/tryPlayOnPlatform/account/.*\.php$ /api/v3/fortnite/api/game/v2/tryPlayOnPlatform.php [L,QSA]
RewriteRule ^api/v3/friends/api/public/blocklist/(.*)\.php$ /api/v3/friends/api/public/blocklist.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/launcher/api/public/assets/v2/platform/.*/launcher\.php$ /api/v3/launcher/api/public/assets/v2/platform/launcher.php [L,QSA]
RewriteRule ^api/v3/v1/epic-settings/public/users/.*/values\.php$ /api/v3/v1/epic-settings/public/users/values.php [L,QSA]
RewriteRule ^api/v3/publickey/v1/publickey/\.php$ /api/v3/publickey/v1/publickey.php [L,QSA]
RewriteRule ^api/v3/party/api/v1/Fortnite/user/.*/settings/privacy\.php$ /api/v3/party/api/v1/Fortnite/user/settings/privacy.php [L,QSA]
RewriteRule ^api/v3/content/api/pages/fortnite-game/\.php$ /api/v3/content/api/pages/fortnite-game.php [L,QSA]
RewriteRule ^api/v3/content/api/pages/fortnite-game/media-events-v2\.php$ /api/v3/content/api/pages/fortnite-game/media-events-v2.php [L,QSA]
RewriteRule ^api/v3/launcher/api/public/assets/Windows/(.*)/FortniteContentBuilds\.php /api/v3/launcher/api/public/assets/Windows/FortniteContentBuilds.php?catalog_item_id=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/br-inventory/account/.*\.php$ /api/v3/fortnite/api/game/v2/br-inventory/account.php [L,QSA]
RewriteRule ^api/v3/api/v1/lfg/Fortnite/users/.*/settings\.php$ /api/v3/api/v1/lfg/Fortnite/users/settings.php [L,QSA]
RewriteRule ^api/v3/socialban/api/public/v1/.*\.php$ /api/v3/socialban/api/public/v1.php [L,QSA]
RewriteRule ^api/v3/api/v2/interactions/latest/Fortnite/.*\.php$ /api/v3/api/v2/interactions/latest.php [L,QSA]
RewriteRule ^api/v3/api/v2/interactions/aggregated/Fortnite/.*\.php$ /api/v3/api/v2/interactions/aggregated.php [L,QSA]
RewriteRule ^api/v3/api/v1/links/history/.*\.php$ /api/v3/api/v1/links/history.php [L,QSA]
RewriteRule ^api/v3/v1/avatar/fortnite/ids\.php$ /api/v3/v1/avatar/fortnite/ids.php [L,QSA]
RewriteRule ^api/v3/links/api/fn/mnemonic/(.*)\.php$ /api/v3/links/api/fn/mnemonic.php?name=$1 [L,QSA]
RewriteRule ^api/v3/links/api/fn/mnemonic\.php$ /api/v3/links/api/fn/mnemonic.php [L,QSA]
RewriteRule ^api/v3/api/v1/events/Fortnite/download/(.*)\.php$ /api/v3/api/v1/events/Fortnite/download.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/profileToken/verify/.*\.php$ /api/v3/fortnite/api/game/v2/profileToken/verify.php [L,QSA]
RewriteRule ^api/v3/party/api/v1/Fortnite/user/.*/notifications/undelivered/count\.php$ /api/v3/party/api/v1/Fortnite/user/notifications/undelivered/count.php [L,QSA]
RewriteRule ^api/v3/party/api/v1/Fortnite/user/.*/notifications/undelivered/count\.php$ /api/v3/party/api/v1/Fortnite/user/notifications/undelivered/count.php [L,QSA]
RewriteRule ^api/v3/party/api/v1/Fortnite/user/.*\.php$ /api/v3/party/api/v1/Fortnite/user.php [L,QSA]
RewriteRule ^api/v3/friends/api/v1/(.*)/summary\.php$ /api/v3/friends/api/v1/summary.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/presence/api/v1/_/(.*)/last-online\.php$ /api/v3/presence/api/v1/_/last-online.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/api/v1/assets/Fortnite/.*\.php$ /api/v3/api/v1/assets/Fortnite.php [L,QSA]
RewriteRule ^api/v3/launcher/api/public/assets/v2/platform/.*/launcher\.php$ /api/v3/launcher/api/public/assets/v2/platform/launcher.php [L,QSA]
RewriteRule ^api/v3/v1/epic-settings/public/users/.*/values\.php$ /api/v3/v1/epic-settings/public/users/values.php [L,QSA]
RewriteRule ^api/v3/publickey/v1/publickey/\.php$ /api/v3/publickey/v1/publickey.php [L,QSA]
RewriteRule ^api/v3/party/api/v1/Fortnite/user/.*/settings/privacy\.php$ /api/v3/party/api/v1/Fortnite/user/settings/privacy.php [L,QSA]
RewriteRule ^api/v3/content/api/pages/fortnite-game/\.php$ /api/v3/content/api/pages/fortnite-game.php [L,QSA]
RewriteRule ^api/v3/content/api/pages/fortnite-game/media-events-v2\.php$ /api/v3/content/api/pages/fortnite-game/media-events-v2.php [L,QSA]
RewriteRule ^api/v3/launcher/api/public/assets/Windows/(.*)/FortniteContentBuilds\.php /api/v3/launcher/api/public/assets/Windows/FortniteContentBuilds.php?catalog_item_id=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/br-inventory/account/.*\.php$ /api/v3/fortnite/api/game/v2/br-inventory/account.php [L,QSA]
RewriteRule ^api/v3/api/v1/lfg/Fortnite/users/.*/settings\.php$ /api/v3/api/v1/lfg/Fortnite/users/settings.php [L,QSA]
RewriteRule ^api/v3/socialban/api/public/v1/.*\.php$ /api/v3/socialban/api/public/v1.php [L,QSA]
RewriteRule ^api/v3/api/v2/interactions/latest/Fortnite/.*\.php$ /api/v3/api/v2/interactions/latest.php [L,QSA]
RewriteRule ^api/v3/api/v2/interactions/aggregated/Fortnite/.*\.php$ /api/v3/api/v2/interactions/aggregated.php [L,QSA]
RewriteRule ^api/v3/api/v1/links/history/.*\.php$ /api/v3/api/v1/links/history.php [L,QSA]
RewriteRule ^api/v3/v1/avatar/fortnite/ids\.php$ /api/v3/v1/avatar/fortnite/ids.php [L,QSA]
RewriteRule ^api/v3/links/api/fn/mnemonic/(.*)\.php$ /api/v3/links/api/fn/mnemonic.php?name=$1 [L,QSA]
RewriteRule ^api/v3/links/api/fn/mnemonic\.php$ /api/v3/links/api/fn/mnemonic.php [L,QSA]
RewriteRule ^api/v3/api/v1/events/Fortnite/download/(.*)\.php$ /api/v3/api/v1/events/Fortnite/download.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/profileToken/verify/.*\.php$ /api/v3/fortnite/api/game/v2/profileToken/verify.php [L,QSA]
RewriteRule ^api/v3/party/api/v1/Fortnite/user/.*/notifications/undelivered/count\.php$ /api/v3/party/api/v1/Fortnite/user/notifications/undelivered/count.php [L,QSA]
RewriteRule ^api/v3/party/api/v1/Fortnite/user/.*/notifications/undelivered/count\.php$ /api/v3/party/api/v1/Fortnite/user/notifications/undelivered/count.php [L,QSA]
RewriteRule ^api/v3/party/api/v1/Fortnite/user/.*\.php$ /api/v3/party/api/v1/Fortnite/user.php [L,QSA]
RewriteRule ^api/v3/friends/api/v1/(.*)/summary\.php$ /api/v3/friends/api/v1/summary.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/presence/api/v1/_/(.*)/last-online\.php$ /api/v3/presence/api/v1/_/last-online.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/api/v1/assets/Fortnite/.*\.php$ /api/v3/api/v1/assets/Fortnite.php [L,QSA]
RewriteRule ^api/v3/launcher/api/public/assets/v2/platform/.*/launcher\.php$ /api/v3/launcher/api/public/assets/v2/platform/launcher.php [L,QSA]
RewriteRule ^api/v3/v1/epic-settings/public/users/.*/values\.php$ /api/v3/v1/epic-settings/public/users/values.php [L,QSA]
RewriteRule ^api/v3/publickey/v1/publickey/\.php$ /api/v3/publickey/v1/publickey.php [L,QSA]
RewriteRule ^api/v3/party/api/v1/Fortnite/user/.*/settings/privacy\.php$ /api/v3/party/api/v1/Fortnite/user/settings/privacy.php [L,QSA]
RewriteRule ^api/v3/content/api/pages/fortnite-game/\.php$ /api/v3/content/api/pages/fortnite-game.php [L,QSA]
RewriteRule ^api/v3/content/api/pages/fortnite-game/media-events-v2\.php$ /api/v3/content/api/pages/fortnite-game/media-events-v2.php [L,QSA]
RewriteRule ^api/v3/launcher/api/public/assets/Windows/(.*)/FortniteContentBuilds\.php /api/v3/launcher/api/public/assets/Windows/FortniteContentBuilds.php?catalog_item_id=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/br-inventory/account/.*\.php$ /api/v3/fortnite/api/game/v2/br-inventory/account.php [L,QSA]
RewriteRule ^api/v3/api/v1/lfg/Fortnite/users/.*/settings\.php$ /api/v3/api/v1/lfg/Fortnite/users/settings.php [L,QSA]
RewriteRule ^api/v3/socialban/api/public/v1/.*\.php$ /api/v3/socialban/api/public/v1.php [L,QSA]
RewriteRule ^api/v3/api/v2/interactions/latest/Fortnite/.*\.php$ /api/v3/api/v2/interactions/latest.php [L,QSA]
RewriteRule ^api/v3/api/v2/interactions/aggregated/Fortnite/.*\.php$ /api/v3/api/v2/interactions/aggregated.php [L,QSA]
RewriteRule ^api/v3/api/v1/links/history/.*\.php$ /api/v3/api/v1/links/history.php [L,QSA]
RewriteRule ^api/v3/v1/avatar/fortnite/ids\.php$ /api/v3/v1/avatar/fortnite/ids.php [L,QSA]
RewriteRule ^api/v3/links/api/fn/mnemonic/(.*)\.php$ /api/v3/links/api/fn/mnemonic.php?name=$1 [L,QSA]
RewriteRule ^api/v3/links/api/fn/mnemonic\.php$ /api/v3/links/api/fn/mnemonic.php [L,QSA]
RewriteRule ^api/v3/api/v1/events/Fortnite/download/(.*)\.php$ /api/v3/api/v1/events/Fortnite/download.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/profileToken/verify/.*\.php$ /api/v3/fortnite/api/game/v2/profileToken/verify.php [L,QSA]
RewriteRule ^api/v3/party/api/v1/Fortnite/user/.*/notifications/undelivered/count\.php$ /api/v3/party/api/v1/Fortnite/user/notifications/undelivered/count.php [L,QSA]
RewriteRule ^api/v3/party/api/v1/Fortnite/user/.*/notifications/undelivered/count\.php$ /api/v3/party/api/v1/Fortnite/user/notifications/undelivered/count.php [L,QSA]
RewriteRule ^api/v3/party/api/v1/Fortnite/user/.*\.php$ /api/v3/party/api/v1/Fortnite/user.php [L,QSA]
RewriteRule ^api/v3/friends/api/v1/(.*)/summary\.php$ /api/v3/friends/api/v1/summary.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/presence/api/v1/_/(.*)/last-online\.php$ /api/v3/presence/api/v1/_/last-online.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/api/v1/assets/Fortnite/.*\.php$ /api/v3/api/v1/assets/Fortnite.php [L,QSA]
RewriteRule ^api/v3/launcher/api/public/assets/v2/platform/.*/launcher\.php$ /api/v3/launcher/api/public/assets/v2/platform/launcher.php [L,QSA]
RewriteRule ^api/v3/v1/epic-settings/public/users/.*/values\.php$ /api/v3/v1/epic-settings/public/users/values.php [L,QSA]
RewriteRule ^api/v3/publickey/v1/publickey/\.php$ /api/v3/publickey/v1/publickey.php [L,QSA]
RewriteRule ^api/v3/party/api/v1/Fortnite/user/.*/settings/privacy\.php$ /api/v3/party/api/v1/Fortnite/user/settings/privacy.php [L,QSA]
RewriteRule ^api/v3/content/api/pages/fortnite-game/\.php$ /api/v3/content/api/pages/fortnite-game.php [L,QSA]
RewriteRule ^api/v3/content/api/pages/fortnite-game/media-events-v2\.php$ /api/v3/content/api/pages/fortnite-game/media-events-v2.php [L,QSA]
RewriteRule ^api/v3/launcher/api/public/assets/Windows/(.*)/FortniteContentBuilds\.php /api/v3/launcher/api/public/assets/Windows/FortniteContentBuilds.php?catalog_item_id=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/br-inventory/account/.*\.php$ /api/v3/fortnite/api/game/v2/br-inventory/account.php [L,QSA]
RewriteRule ^api/v3/api/v1/lfg/Fortnite/users/.*/settings\.php$ /api/v3/api/v1/lfg/Fortnite/users/settings.php [L,QSA]
RewriteRule ^api/v3/socialban/api/public/v1/.*\.php$ /api/v3/socialban/api/public/v1.php [L,QSA]
RewriteRule ^api/v3/api/v2/interactions/latest/Fortnite/.*\.php$ /api/v3/api/v2/interactions/latest.php [L,QSA]
RewriteRule ^api/v3/api/v2/interactions/aggregated/Fortnite/.*\.php$ /api/v3/api/v2/interactions/aggregated.php [L,QSA]
RewriteRule ^api/v3/api/v1/links/history/.*\.php$ /api/v3/api/v1/links/history.php [L,QSA]
RewriteRule ^api/v3/v1/avatar/fortnite/ids\.php$ /api/v3/v1/avatar/fortnite/ids.php [L,QSA]
RewriteRule ^api/v3/links/api/fn/mnemonic/(.*)\.php$ /api/v3/links/api/fn/mnemonic.php?name=$1 [L,QSA]
RewriteRule ^api/v3/links/api/fn/mnemonic\.php$ /api/v3/links/api/fn/mnemonic.php [L,QSA]
RewriteRule ^api/v3/api/v1/events/Fortnite/download/(.*)\.php$ /api/v3/api/v1/events/Fortnite/download.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/fortnite/api/game/v2/profileToken/verify/.*\.php$ /api/v3/fortnite/api/game/v2/profileToken/verify.php [L,QSA]
RewriteRule ^api/v3/party/api/v1/Fortnite/user/.*/notifications/undelivered/count\.php$ /api/v3/party/api/v1/Fortnite/user/notifications/undelivered/count.php [L,QSA]
RewriteRule ^api/v3/party/api/v1/Fortnite/user/.*/notifications/undelivered/count\.php$ /api/v3/party/api/v1/Fortnite/user/notifications/undelivered/count.php [L,QSA]
RewriteRule ^api/v3/party/api/v1/Fortnite/user/.*\.php$ /api/v3/party/api/v1/Fortnite/user.php [L,QSA]
RewriteRule ^api/v3/friends/api/v1/(.*)/summary\.php$ /api/v3/friends/api/v1/summary.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/presence/api/v1/_/(.*)/last-online\.php$ /api/v3/presence/api/v1/_/last-online.php?accountId=$1 [L,QSA]
RewriteRule ^api/v3/api/v1/assets/Fortnite/.*\.php$ /api/v3/api/v1/assets/Fortnite.php [L,QSA]