RewriteEngine on

RewriteRule ^api/v3/account/api/public/account/displayName/(.*)\.php$ /api/v3/fortnite/account/api/public/account.php?fullAccountInfo=1&accountId=$1 [L]
RewriteRule ^api/v3/account/api/public/account/(.*)\.php$ /api/v3/fortnite/account/api/public/account.php?fullAccountInfo=1&accountId=$1 [L]
RewriteRule ^api/v3/friends/api/public/friends/(.*)/(.*)\.php$ /api/v3/account/api/public/friends.php?account_id_1=$1&account_id_2=$2
RewriteRule ^api/v3/fortnite/api/cloudstorage/system/(.*)\.ini\.php$ /FNConfigs/$1.ini
RewriteRule ^api/v3/fortnite/api/cloudstorage/user/(.*)/ClientSettings\.Sav\.php$ /api/v3/fortnite/api/cloudstorage/user.php?accountId=$1
RewriteRule ^api/v3/fortnite/api/cloudstorage/user/(.*)\.php$ /api/v3/fortnite/api/cloudstorage/user.php?accountId=$1&fileInfo=1
RewriteRule ^api/v3/fortnite/api/game/v2/matchmaking/account/(.*)/session/(.*)\.php$ /api/v3/fortnite/api/game/v2/matchmaking/account/session.php?accountId=$1&sessionId=$2
RewriteRule ^api/v3/fortnite/api/game/v2/matchmakingservice/ticket/player/(.*)\.php$ /api/v3/fortnite/api/game/v2/matchmakingservice/ticket/player.php?accountId=$1
RewriteRule ^api/v3/fortnite/api/game/v2/privacy/account/(.*)\.php$ /api/v3/fortnite/api/game/v2/privacy/account.php?accountId=$1